<a href="https://colab.research.google.com/github/LeandroCoelhos/estudos_datascience/blob/main/Limpeza_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

# DataFrame original com as colunas
df = pd.DataFrame({
    'ID': np.arange(1, 1001),
    'Idade': np.random.randint(18, 66, 1000),
    'Categoria': np.random.choice(['A', 'B', 'C', 'D'], 1000),
    'Renda': np.random.uniform(1000, 5000, 1000)
})

# Adicionar valores numéricos como strings e letras em algumas linhas
df.loc[3, 'Idade'] = 'Vinte'
df.loc[7, 'Categoria'] = 'E'
df.loc[15, 'Renda'] = 'Baixa'

# Exibir o DataFrame resultante
print(df)

       ID  Idade Categoria        Renda
0       1     50         C  2968.013083
1       2     28         A  2630.794466
2       3     45         D  2296.213896
3       4  Vinte         B  3409.393685
4       5     36         A  4020.039166
..    ...    ...       ...          ...
995   996     34         C  2329.303235
996   997     44         C  1869.128124
997   998     46         A  1066.316509
998   999     40         B  2222.020603
999  1000     48         D   3652.13811

[1000 rows x 4 columns]

In [6]:
pd.get_dummies(df, columns=['Categoria'])

,ID,Idade,Renda,Categoria_A,Categoria_B,Categoria_C,Categoria_D,Categoria_E
0,1,50,2968.013083,0,0,1,0,0
1,2,28,2630.794466,1,0,0,0,0
2,3,45,2296.213896,0,0,0,1,0
3,4,Vinte,3409.393685,0,1,0,0,0
4,5,36,4020.039166,1,0,0,0,0
...,...,...,...,...,...,...,...,...
995,996,34,2329.303235,0,0,1,0,0
996,997,44,1869.128124,0,0,1,0,0
997,998,46,1066.316509,1,0,0,0,0
998,999,40,2222.020603,0,1,0,0,0
999,1000,48,3652.13811,0,0,0,1,0

In [19]:
df['Idade'] = pd.to_numeric(df['Idade'], errors='coerce')

In [21]:
df = df.fillna(df.mean())
df

<ipython-input-21-f383654e7baf>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.mean())

       ID      Idade Categoria        Renda  NovaColuna  app
0       1  50.000000         C  2968.013083           1    0
1       2  28.000000         A  2630.794466           0    0
2       3  45.000000         D  2296.213896           0    0
3       4  42.012012         B  3409.393685           0    0
4       5  36.000000         A  4020.039166           0    0
..    ...        ...       ...          ...         ...  ...
995   996  34.000000         C  2329.303235           1    0
996   997  44.000000         C  1869.128124           0    0
997   998  46.000000         A  1066.316509           0    0
998   999  40.000000         B  2222.020603           1    0
999  1000  48.000000         D   3652.13811           1    0

[1000 rows x 6 columns]

In [23]:
from sklearn.model_selection import train_test_split

df_train, df_sample = train_test_split(df, test_size=100, stratify=df['NovaColuna'], random_state=42)
df_train.shape,df_sample.shape

((900, 6), (100, 6))

In [24]:
df['app'] = np.where(df['Renda'] == 2000, 1, 0)
df

       ID      Idade Categoria        Renda  NovaColuna  app
0       1  50.000000         C  2968.013083           0    0
1       2  28.000000         A  2630.794466           0    0
2       3  45.000000         D  2296.213896           1    0
3       4  42.012012         B  3409.393685           1    0
4       5  36.000000         A  4020.039166           0    0
..    ...        ...       ...          ...         ...  ...
995   996  34.000000         C  2329.303235           0    0
996   997  44.000000         C  1869.128124           0    0
997   998  46.000000         A  1066.316509           0    0
998   999  40.000000         B  2222.020603           1    0
999  1000  48.000000         D   3652.13811           0    0

[1000 rows x 6 columns]

In [25]:
df['Uniforme'] = np.random.uniform(0, 1, size=len(df))
df['Normal'] = np.random.normal(loc=0, scale=1, size=len(df))
df['Exponencial'] = np.random.exponential(scale=1, size=len(df))
df

,ID,Idade,Categoria,Renda,NovaColuna,app,Uniforme,Normal,Exponencial
0,1,50.000000,C,2968.013083,0,0,0.591066,-0.898221,0.410319
1,2,28.000000,A,2630.794466,0,0,0.162840,-0.320717,0.872689
2,3,45.000000,D,2296.213896,1,0,0.963474,0.433038,0.740777
3,4,42.012012,B,3409.393685,1,0,0.556866,-0.385006,0.810106
4,5,36.000000,A,4020.039166,0,0,0.444763,0.515182,1.306310
...,...,...,...,...,...,...,...,...,...
995,996,34.000000,C,2329.303235,0,0,0.717755,-0.651700,0.963672
996,997,44.000000,C,1869.128124,0,0,0.227734,0.966203,1.371208
997,998,46.000000,A,1066.316509,0,0,0.268508,0.179357,0.569487
998,999,40.000000,B,2222.020603,1,0,0.876965,-1.780186,0.416738
999,1000,48.000000,D,3652.13811,0,0,0.627825,-0.739611,0.601516